@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
:root {
  --dark-gray: #2B2B2B;
  --white: #ffffff;
  --yellow: #e9ff07;
  --black: #000000;
  --light-white: #E6E6E6;
  --light-gray: #D9D9D9;

}
#root {
  /* text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden; */

  /* background: linear-gradient(#fff, #999); */
  /* background: linear-gradient(#e66465, #9198e5); */
}

/* * {
  user-select: none;
} */

/* #root>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} */

.app {
  /* overflow: hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */

}

/* desktop css */
.slider-section {
  /* padding-bottom: 60px; */
  width: 58%;
  margin: 0px auto;
  height: calc(100% - 178px);
    margin: 0px auto;
}
  .cardContainer{
    margin: 0;
    display: grid;
  }
  .prompt-cont.top-query {
    margin-top: 70px;
    padding-bottom: 29px;
}
  .cardpage .fixed-top{
    margin-bottom: 20px;
  }
  .dark-theme{
   
    background: var(--dark-gray) !important;
  }

  .bgImage  .desktop-design{
    display: initial;

  }
  .fixed-bottom{
    width: 58%;
    margin: 0px auto;
    padding: 20px 0 0;
    bottom: 25px
  }
  .message-textarea.querytype-medium {
    padding-top: 20px;
}
  .bgImage .slider-section{
    width: 58%;
    margin: 0px auto;
    justify-content: space-around;
    
  }
  .swipe{
    min-height: 350px;
  }
  .cardpage{
    height: auto;
    min-height: calc(100% - 100px);
  }
 .cardpage .image-bg, .cardpage .container-fluid, .cardpage .row {
    height: 100%;
    min-height: calc(100% - 100px);
  }
  .cardpage .desktop-design{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 62px;
  }
  .overlayDialogBox .message-section{
    bottom: 23px;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .message-section{
    background-color: #FDFDFD;
    z-index: 99999;
  }
  .tableDiv {
    width:100%;
    overflow:auto;
    white-space:nowrap;
}
.table {
   
    display:inline-block;
    margin: 0;
    border-spacing: 30px;
}

.top-query ul li span{
  color: #333;
  line-height: 16.8px;
  margin-bottom: 5px;
  padding: 7px 14px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}
.prompt-cont.top-query ul, .prompt-cont.bottom-prompt-box ul{
  overflow-x: auto;
  background-repeat: no-repeat;
  background-position: left center, right center, left center, right center;
  background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
  -webkit-overflow-scrolling: touch;

}
.prompt-cont.top-query ul::-webkit-scrollbar, 
.prompt-cont.bottom-prompt-box ul::-webkit-scrollbar {
  height: 6px;
  background-color: #D9D9D9;
}

.prompt-cont.top-query ul::-webkit-scrollbar-thumb,
.prompt-cont.bottom-prompt-box ul::-webkit-scrollbar-thumb {
  background-color: #545454;
  border-radius: 3px;
}

.prompt-cont.top-query table::-webkit-scrollbar-button,
.prompt-cont.bottom-prompt-box ul::-webkit-scrollbar-button {
  display: none;
}

/* end desktop css */


.bgImage {
  background: url(../public/img/bg-img2.svg) 0 0 no-repeat;
  background-size: cover;
  background-position: 100%;
}

.swipe.inactive,
.swipe.inactive .card-box {
  height: 300px;
  min-height: 300px;
  overflow-y: scroll;
}

.swipe {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 100%;
  /* background-color: #333333; */
  /* min-height: 300px;
  border-radius: 16px; */
  z-index: 10;
  /* padding-bottom: 20px; */
  transition: all .4s;
  /* margin-top: 14px; */
  /* height: 100%; */
  /* padding: 15px;
  overflow: hidden; */
}

.swipe.active {
  margin-top: 0;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all .4s;

}

.swipe.active:after {
  content: "";
  background: url(../public/img/bg-img.svg) 0 0 no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 155px;
  height: 155px;
}

.cardpage .fixed-top {
  background: #fff;
}

.fixed-top {
  padding: 33px 0px 22px;
  position: sticky;
  position: -webkit-sticky;
  height: 81px;
}

.fixed-top button {
  padding: 0;
  margin: 0;
}



.cardContainer .swipe:nth-child(even) .card-box {
  background-color: #333333;

}
.cardContainer .swipe:nth-child(even) .bottom-shadow {
  background-color: #5FAF9F;

}

.cardContainer .swipe:nth-child(odd) .card-box{
  background-color: #5FAF9F;
}
.cardContainer .swipe:nth-child(odd) .bottom-shadow{
  background-color: #333333;
}


.slider-section {
  /* padding-bottom: 60px;  */
  /* height: calc(100vh - 169px);
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; */
  /* height: 100vh;
  margin-bottom: 240px; */
}

.card {
  position: absolute;
  background-color: transparent;
  width: 100%;
  box-shadow: none;
  border-radius: 5px;
  background-size: cover;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 20px;
  /* overflow-y: auto; */
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card-box h3 {
  bottom: 0;
  margin: 0;
  color:#e9ff07;
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #000;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0% {
    transform: scale(1, 1)
  }

  10% {
    transform: scale(1.1, 1.1)
  }

  30% {
    transform: scale(.9, .9)
  }

  50% {
    transform: scale(1, 1)
  }

  57% {
    transform: scale(1, 1)
  }

  64% {
    transform: scale(1, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.message-btn {
  right: 7px;
  top: 9px;
  margin: 0;
  padding: 2px 9px;
  opacity: 1;
}

.landing-page-heading {}

.message-btn:focus {
  outline: 0 !important;
}



.top-query ul {
  padding-left: 0px;
  margin-bottom: 0px;
  width: 100%;
  margin-top: 10px;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.top-query ul li {
  list-style: none;
  cursor: pointer;
  display: inline-flex;
  margin-right: 10px;
  word-break: keep-all;
  width: 100%;
  align-self: flex-start;
  Flex: 0 0 85%;
  padding: 4px 0px 0;
  background-color: #F2F2F2;
  border-radius: 8px;
  max-height: 65px;
  overflow-y: auto;
}

.top-query span {
  margin-bottom: 5px;
  padding: 7px 14px;
  font-weight: 500;
  display: inline-block;
  text-align: left;
  color: #333333;
  font-size: 12px;
  line-height: 16.8px;
}

.message-box {
  padding: 9px 39px 0 11px;
  height: 47px !important;
  border-radius: 8px;
  background: #e9ff07;
  color: #000000;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.message-box:focus {
  color: #000000;
  background-color: #e9ff07;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

textarea.message-box::-webkit-input-placeholder {
  color: #000;
}

textarea.message-box:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

textarea.message-box::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

textarea.message-box:-ms-input-placeholder {
  color: #000;
}





.sticky-notes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sticky-note {
  background-color: yellow;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-area {
  margin-top: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin: 0px 5px;
  padding: 5px 10px;
  background-color:#000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer!important;
}

.message-textarea {
  display: flex;
  position: relative;

}

.message-textarea.querytype-medium {
  padding-top: 25px;
}

.message-box.largeTextArea {
  height: 104px !important;
}

.querytype-small {
  padding-top: 0;
}

.querytype-medium .message-btn {
  right: 9px;
  top: auto;
  background: #000;
  bottom: 8px;
  padding: 2px 9px;
  opacity: 1;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.overlayDialogBox:after {
  position: absolute;
  background: #000;
  top: 0;
  z-index: 9999;
  height: 100%;
  opacity: 0.7;
  content: "";
  width: 100%;
  left: 0;
}

.querytype-medium span {
  position: absolute;
  width: 49px;
  height: 3px;
  top: 0;
  border-radius: 2px;
  margin: 0px auto;
  left: 0;
  right: 0;
  display: inline-block;
  background: #AAAAAA;
}

.top-query h3 {
  text-align: left;
  font-size: 15px;
  color: #AAAAAA;
  font-weight: 500;
}

.share-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
  z-index: 9;
}

.share-icon h5>a, .share-icon span {
  background: #4d4d4d;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}

.share-icon a svg, .share-icon span svg {
  fill: #e9ff07;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}



.bottom-prompt-box {
  padding: 0;
  display: inline-block;
  margin-top: 16px;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;

}

.bottom-prompt-box ul {
  margin: 4px 0;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  Display: flex;

}

.bottom-prompt-box ul li {
  list-style: none;
  cursor: pointer;
  display: inline-flex;
  margin-right: 10px;
  width: auto;
  padding: 4px 12px 0;
  background-color: #F2F2F2;
  border-radius: 5px;
  word-break: keep-all;
  flex: 0 0 90%;
  max-height: 60px;
  overflow-y: auto;

}

.bottom-prompt-box span {
  margin-bottom: 5px;
  padding: 3px 0;
  font-size: 11px;
  line-height: 16px;
  color: #2B2B2B;
}

.main-page-content {
  text-align: center;
}

.main-page-content h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -0.02em;
  text-align: center;
  width: 90%;
  margin: 0px auto;
}

.main-page-content h1 span {
  letter-spacing: -0.02em;
  display: block;
  background: -webkit-linear-gradient(-89deg, #E9FF07 44%, #E9FF07 35%, #ffffff 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  margin-top: 10px;
}

.main-page-content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgba(131, 131, 131, 1);

}

.main-page-content p b {
  font-weight: 600;
}

.main-page-content img {
  margin-top: 35px;
  margin-bottom: 10px;

}

.card-details {}

.card-logo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.card-logo h4 {}

.card-logo h4 img {
  width: 28px;
  height: 28px;
}

.card-logo h4 span {
  color: #E9FF07;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 2px;
}

.card-details p {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #FDFDFD;
}

.cardContainer .swipe:nth-child(odd) .card h3 {
  color: #545454;

}

.cardContainer .swipe:nth-child(odd) .card p {
  color: #000;

}

.cardContainer .swipe:nth-child(odd) .share-icon>a, .cardContainer .swipe:nth-child(odd) .share-icon>span {
  background: rgba(253, 253, 253, 0.2);
}

.social-icon {
  display: none;
  list-style-type: none;
  position: absolute;
  top: -37px;
  transition: all 0.5s ease;
  right: 0;
}

.social-icon li {
  padding: 10px 0;
}

.social-icon li img {}

.share-button:hover .social-icon {
  right: 55px;
  display: block;
  transition: all 0.5s ease;
}

.share-button {
  position: relative;
}


.bgImage {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.bgImage .slider-section {
  margin-top: 0;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}



.query-section .message-section {
  background-color: transparent;
}

.query-section .message-textarea a span {
  display: none;
}

html, body, #root {
  height: 100%; 
}
/* .cardpage{
  height: auto;
} */
.scroll-hide {
   overflow: hidden; 
  height: 100vh;
}

.card-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 15px;
}
.bottom-shadow {
  position: absolute;
  background: red;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 95%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
 
  
}
.bgImage  .image-bg {
  height: 100%;
  display: flex;
  justify-content: space-between; 
  flex-direction: column;
  height: 100vh;
}
.copy-icon {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
 
}

.copy-icon:focus, .copy-icon:hover {
  background: #4d4d4d;
}
.cardpage .topbar .btn path{
  stroke: var(--black);
}

.tooltip-show {
  position: relative;
  display: inline-block;
}

.tooltip-show .tooltiptext {
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0 0;
  position: absolute;
  z-index: 1;
  bottom: auto;
  left: 0;
  margin-left: -48px;
  line-height: 23px;
  font-size: 12px;
  top: 3px;
  visibility: hidden;
}

.tooltip-show:hover .tooltiptext {
  visibility: visible;
}
.topbar .btn path{
  stroke: var(--black)
}
/* dark theme css */
.dark-theme .topbar .btn path{
  stroke: rgba(165, 181, 5, 1);  
 }
.dark-logo{display: none;}




.dark-theme.bgImage  .image-bg {
  background: url(../public/img/dark-bg-img.svg) 0 0 no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; 
  flex-direction: column;
  height: 100vh;
}
.dark-theme .main-page-content{
color: var(--light-white);
}
.dark-theme .main-page-content p{
  color:var(--light-gray);
}
.dark-theme .message-btn path{
  fill: rgba(233, 255, 7, 1);
  }
.dark-theme .message-box{    background: linear-gradient(0deg, #B3C409, #B3C409), linear-gradient(90deg, #E9FF07 0%, rgba(233, 255, 7, 0) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid rgba(255, 255, 255, 1)
}
.dark-theme .topbar .btn path{
 stroke:  rgba(233, 255, 7, 1);
  
}
.dark-theme .overlayDialogBox .message-section{
  background: rgba(0, 0, 0, 1);

}
.dark-theme .bottom-prompt-box ul li{
  background: linear-gradient(0deg, #333333, #333333), linear-gradient(180deg, #FFFFFF -121.05%, rgba(255, 255, 255, 0) 159.05%);
}
.dark-theme .bottom-prompt-box span{
  color: rgba(170, 170, 170, 1);
}
.cardpage.dark-theme .image-bg{
  background: none;
}
.cardpage.dark-theme .fixed-top{
  background: var(--dark-gray);
  border: 1px solid rgba(51, 51, 51, 1);
  margin-bottom: 25px;
}
.cardpage.dark-theme .cardContainer .swipe .card-box{
  border: 1px solid var(--yellow);
}
/* .cardpage.dark-theme .cardContainer .swipe:nth-child(even){
  border: 1px solid var(--yellow);
} */
.dark-theme .light-logo{
display: none;
}
.dark-theme .dark-logo{
  display: block;
  }
  .cardpage.dark-theme .top-query ul li {
    background-color: #545454;
    color: #D9D9D9;
    border: 1px solid #FAFAFA;
}
.cardpage.dark-theme .top-query ul li span{
  color: #D9D9D9;
}
.cardpage.dark-theme .top-query h3{
  color: var(--white);
}

.prompt-cont.top-query ul{
  overflow-x: auto;
  background-repeat: no-repeat;
  background-position: left center, right center, left center, right center;
  background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
  -webkit-overflow-scrolling: touch;

}
.prompt-cont.top-query ul::-webkit-scrollbar {
  height: 6px;
  background-color: #D9D9D9;
}

.prompt-cont.top-query ul::-webkit-scrollbar-thumb {
  background-color: #545454;
  border-radius: 3px;
}

.prompt-cont.top-query ul::-webkit-scrollbar-button {
  display: none;
}
.bottom-prompt-box ul li{flex: 0 0 auto;}

@media only screen and (max-width: 767px) {
  .desktop-design {
    display: initial;}
  .cardContainer {
    width: 87vw;
    margin: 0px auto;
    /* height: 100vh;
    min-height: 300px; */
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 35px;
  }
  .top-query {
    display: inherit;
    margin-top: 23px;
    padding: 0 20px 0;
    height: 127px;
    width: auto;
  
  }
  .sidebar{
    display: none;
  }
  .dark-theme {
    background: var(--dark-gray);
    /* height: auto !important; */
  }
  .bottom-prompt-box ul li {
    flex: 0 0 90%;
  
  }
  .prompt-cont.top-query ul::-webkit-scrollbar {
    height: 3px;
    background-color: #D9D9D9;
  }
  .fixed-bottom{
    width: auto;
    margin: 0px;
  }
  .bgImage .slider-section{
    width: auto;
    margin: 0px auto;
  }
  .overlayDialogBox .message-section {
    background-color: #FDFDFD;
    bottom: -3px;
  }
  .message-section {
    background-color: #FDFDFD;
    border-radius: 8px 8px 0 0;
    padding: 15px 15px 0 12px;
    z-index: 99999;
  
  }
  .slider-section{
    width: 100%;
  }
  .prompt-cont.top-query{
    display: block;
    margin-top: 22px;
  }
}
.social-btn:hover .soical-media ul{display: block;}
.soical-media{position: relative;}
.soical-media ul{position:absolute;    top: 3px;
  left: 5px;background-color:#000;list-style: none;margin: 0;padding:0px;border-radius: 5px;}
.soical-media ul li{margin: 0px ;padding: 5px;}
.soical-media ul li a{
  font-size: 14px;
}